b.first { color: ff6699; font-size: 17px }
b.second { color: ff6699; font-size: 13px }
b.third {color: ff6699; font-size: 20px }
p { color: 000000; font-size: 13px; text-align: left }
td {font-family: arial }
blockquote.first [ color: 000000; font-size: 13px }
div { color: 000000; font-size: 13px }